<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labs.sdm.seminar03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/quotes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/quotes_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/activityAbout_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activitySettings_name" />
        <activity
            android:name=".FavouriteActivity"
            android:label="@string/activityFavourite_name"></activity>
        <activity
            android:name=".QuotationActivity"
            android:label="@string/activityGet_name">

        </activity>
    </application>

</manifest>